/*
.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 0;
    margin-top: 0;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
    font-size: 1.0rem;
    color: #333;
    font-weight: 500;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
*/

@media (max-width: 1024px) {
    section .mx-auto {
      flex-direction: column; 
    }
    section .max-w-md {
      text-align: center; 
    }
    section .flex-shrink-0 {
      max-width: 100%; 
    }
    section .text-3xl {
      font-size: 1.75rem; 
    }
    section .text-neutral-600 {
      font-size: 1rem;
    }
    section button {
      font-size: 1rem; 
    }
  }
  
@media (max-width: 600px) {
    section .text-3xl {
      font-size: 1.5rem; 
    }
    section .text-neutral-600 {
      font-size: 0.875rem;
    }
    section button {
      font-size: 0.875rem;
    }
    section .flex-shrink-0 {
      max-width: 100%; 
    }
  }
