.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px; 
  width: 100%; 
  background-color: white;
  transition: all 0.3s ease;
  padding: 16px;
  border-radius: 0 !important; 

  }

.product-card-image {
  position: relative;
  width: 100%;
  height: 200px; 
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 0 !important; 
}

.product-card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 0 !important; 
}

.product-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-radius: 0 !important; 
}

.card,
.card-header,
.card-footer,
.card-title,
.card-description,
.card-content,
.card-action {
  border-radius: 0 !important;
}

.card-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
  user-select: none;
  box-shadow: none;
}

.card-button:hover {
  background-color: #222;
  color: white;
  box-shadow: none; 
}