.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px; 
  width: 100%; 
  background-color: white;
  transition: all 0.3s ease;
  padding: 16px;
  border-radius: 0 !important; 

  }

.product-card-image {
  position: relative;
  width: 100%;
  height: 200px; 
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 0 !important; 
}

.product-card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 0 !important; 
}

.product-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-radius: 0 !important; 
}

.card,
.card-header,
.card-footer,
.card-title,
.card-description,
.card-content,
.card-action {
  border-radius: 0 !important;
}


.card-button {
  padding: 8px 16px;
  font-size: 14px; 
  border: 1px solid transparent; 
  background-color: transparent; 
  border-radius: 4px; 
  transition: all 0.3s ease; 
  color: white;
}

.card-button:hover {
  background-color: #A0E1A2; 
  border-color: #A0E1A2;
  color: white;
  cursor: pointer;
}
